* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}

header {
  background-color: lightgreen;
}

footer {
  bottom: 0%;
  position: fixed;
  background-color: lightblue;
  width: 100%;
}

.btn1 {
  width: 400px;
  height: 200px;
  margin: 100px;
}

div {
  text-align: center;
}
