:root {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.randomquote {
  text-align: center;
  font-style: italic;
  color: lightcoral;
}

.btn1 {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  border-style: none;
  background-color: lightblue;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 00.2s);
}

.btn1:hover {
  transform: all 0.2s ease;
  box-shadow: 0 6px 12px rgba(137, 179, 229, 0.3);
  transform: translateY(-4px);
}
